.c-container
{
    padding-left: 300px;
    padding-right: 200px;
    display: block;
    overflow: auto;
}
.c-container .c-post
{
    background: rgb(22, 22, 22);
}
.c-post
{
    width: 1000px;
    float: left;
    border-radius: 10px;
    padding-bottom: 100px;
}
.c-img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 800px;
}
.c-titulo
{
    padding-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding-left: 50px;
}
.c-sub
{
    padding-top: 10px;
    color: white;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
}
.c-leavecomments
{
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: flex-end;
}
.c-avatar
{
    height: 64px;
    width: 64px;
    border-radius: 5px;
    object-fit: cover;
}
.c-cometario
{
    position: relative;
    border-radius: 10px;
    width: 500px;   
    height: 40px;
    left: 20px;
}
.c-btncmnt
{
    position: relative;
    background-color: #7f00d3;
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 23px;
    cursor: pointer;
    border-radius: 10px;
}
.c-comments
{
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
}
.c-comment
{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
}
.c-datos
{
    position: relative;
    left: 20px;
    height: 50px;
    width: 300px;
}
.c-miusuario
{
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.c-micomentario
{
    font-size: 15px;
    color: white;
}
.c-date
{
    color: rgb(153, 153, 153);
}
.c-info
{
    width: 400px;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 50px;
}
.c-user
{
    position: relative;
    left: 100px;
    height: 500px
}
.c-avatarI
{
    height: 150px;
    width: 150px;
    border-radius: 15px;
    object-fit: cover;
}
.c-usuariotxt
{
    position: relative;
    top: 30px;
    color: white;
}
.c-btnF
{
    position: relative;
    top: 40px;
    right: 70px;
    background-color: #7f00d3;
    border: none;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 15px;
}
.c-btnEl
{
    position: relative;
    top: 40px;
    right: 70px;
    background-color:red;
    border: none;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 15px;
}

/* ---------------- */
.c-otros
{
    position: relative;
    padding-left: 100px;
    padding-bottom: 100px;
    max-width: max-content;
    top: 30px;
    left: 210px;
}   
.muestra
{
    height: 170px;
    width: 170px;
}
.p-ulO
{
    display: inline-flex;
    padding: 0px;
    margin: -12px;
    list-style-type: none;
    width: 1000px;
    overflow: scroll;
    overflow-y: hidden;
}
.p-liO
{
    margin: 6px;
    height: fit-content;
    order: 1;
    align-items: center;
}
.c-otrosIMG
{
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.x{
    background-color: red; 
    width: 10px;     
}
    

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 800px;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.c{
    color: white;
    font-size: 30px;
}