
.col-25 {
    float: left;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .col-5 {
    float: left;
    width: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    color: blue;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .linea {
    width: 100%;
    height: 1px;
    background-color:rgba(111,111,111,0.3);
    margin: 6px;
    margin-left: auto;
    margin-right: auto;
  }
  .baner {
    width: 100%;
    height: 300;
    border: 5px solid #555;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cuentaAvatar {
    width:200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #555;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  .wraper
  {
      background: #fff;
      border-radius: 20px;
      overflow: hidden;
      padding: 0;
      position: relative;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .08);
  }

  .texto {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    max-width: 800px;
    max-height: 800px;
  }

  input[type=submit] {
    position: relative;
    background-color: #7f00d3;
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    right: 29px;
    cursor: pointer;
    border-radius: 10px;
    float: right;
    margin-left: 2px;
    margin-bottom: 10px;
  }

  .postt {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .wraperr {
    width: 600px;
    height: auto;
    background-color: white;
    border-radius: 20px;
  }

  .caption1 {
    margin: 50px;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  #myFile2 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
  }