body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}

#section1 {
  height: 100%;
}

#section2 {
  height: 100%;
}
#section3 {
  height: 100%;
}
.showcase
{
  height: 100%; 
}   
.page1
{
  background-image: url('../L/5.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page2
{
  background-image: url('../L/4.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page3
{
  background-image: url('../L/4.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.control
{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  height: 70px;
  padding-left: 50px;
  padding-top: 450px;
  z-index: 1;
}
.btn
{
  padding: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
}



input[type=submit] {
position: relative;
background-color: #7f00d3;
border: none;
color: white;
font-weight: bold;
height: 40px;
width: 120px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
right: 250px;
cursor: pointer;
border-radius: 10px;
float: right;
margin-top: 10px;
margin-bottom: 10px;
}

.texto {
width: 100%;
height: 30px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
}

.col-25 {
float: left;
width: 20%;
margin-left: 20px;
margin-right: 0px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 15px;
font-weight: bold;
}

.col-75 {
float: left;
width: 70%;
margin-top: 10px;
margin-bottom: 10px;
}

.text{
color:  #7f00d3;
}

.info{
overflow: hidden;
padding: 0;
margin-left: auto;
margin-right: auto;

position: relative;
background-clip: padding-box;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
-webkit-box-flex: 1;
flex: auto;
max-width: 600px;
}
.about{
font-size: 100px;
Color: black;
-webkit-text-stroke: .5px cadetblue;
}

button[type=submit] {

background-color: #7f00d3;
border: none;
color: white;
font-weight: bold;
height: 40px;
width: 180px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
border-radius: 10px;

}

.form{
margin-top: auto;
margin-bottom: auto;
max-width: 690px;
}

/* Tooltip container */
.tooltip {
position: relative;
display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
visibility: hidden;
position: absolute;
width: 120px;
background-color:white;
color: black;
text-align: center;
padding: 5px 0;
border-radius: 6px;
z-index: 1;
opacity: 0;
transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 50%;
right: 100%;
margin-top: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent  #ffffff transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

.titulo{
font-size: 200px;
Color: #7f00d3;

}

.subtitulo{
margin-top: 340px;
font-size: 50px;
Color:  rgb(41, 41, 41);
}
.subtitulo1{
padding: 10px;
margin-left: auto;
margin-right: auto;
font-size: 30px;
Color: #7f00d3;
}
.subtitulo2{
padding: 10px;
margin-left: auto;
margin-right: auto;
font-size: 30px;
Color:  rgb(41, 41, 41);
}
.text{
width: 50%;
margin-left: auto;
margin-right: auto;
max-width: 690px;
display: block;
overflow: hidden;
position: relative;
}

.login
{
display: block;
background: #fff;
border-radius: 20px;
border: blueviolet;
border-width: 10px;
overflow: hidden;
padding: 0;
max-width: 400px;
width: 50%;
position: relative;
margin-left: auto;
margin-right: auto;
background-clip: padding-box;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
-webkit-box-flex: 1;
flex: auto;
}
.flex{
display: flex;
padding-top: 370px;
padding-bottom: auto;
z-index: 0;
}

@media (max-width: 1380px) {
.flex {
  margin-left: 50px;
  flex-direction: column;
  padding-top: 10px;
}
.login{
  width: auto;
}
.text {

  width: auto;
  padding-bottom: 30px;
}
.titulo{
  font-size: 120px;
}
.control{
  padding-left: 10px;
  padding-top: 250px;
}
.info{
 top: 40%
}
.subtitulo{
  margin-top: 0px;
  padding-left: 50px;
  padding-bottom: 50px;
}
}

@media (max-height: 600px) {
.flex {
  flex-direction: column;
  padding-top: 10px;
}
.login,
.text {
  width: auto;
}
.titulo{
  font-size: 120px;
}
.control{
  padding-left: 10px;
  padding-top: 250px;
}
}

.row{
margin-top: 20px;
margin-left: 10px;
margin-right: 20px;
margin-bottom: 30px;
}

hr.linea{
border: 1px solid  #7f00d3;
}

.background{
  z-index: -1;
  width: 1000px;
  height: 1000px;
}