.Cinput
{
    width: 50px;
    border: none;
    background: none;
    color: #919191;
    font-size: 30px;
    margin: 0 10px;
    pointer-events: none;
}
.Cbutton
{
    color: #000;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 5px;
    margin: 10px 0;
    margin-left: 10px;
    cursor: pointer;
}
.Cbutton:active
{
    color: #004eff;
    transform: scale(1.2);
}