.m-container
{
    padding-left: 250px;
    padding-right: 300px;
    display: block;
    overflow: auto;
    float: left;
}
.m-friends
{
    max-width: 600px;
    padding-bottom: 100px;
    padding-left: 300px;
    height: 900px;
    float: left;
}
.m-toptxt
{
    color: white;
    text-align: center;
}
.m-friend
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    border-style: groove;
    border-color: rgb(117, 117, 117);
    height: 830px;
    overflow: auto;
}
.m-friendcont
{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
}
.m-avatar
{
    height: 64px;
    width: 64px;
    border-radius: 30px;
    object-fit: cover;
}
.m-datos
{
    position: relative;
    left: 20px;
    height: 50px;
    width: 300px;
}
.m-miusuario
{
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.m-date
{
    color: rgb(165, 165, 165);
}
.m-messageclass
{
    max-width: 1000px;
    padding-bottom: 100px;
    padding-left: 15px;
    height: 900px;
    overflow: hidden;
}
.m-messagebox
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    border-style: groove;
    border-color: rgb(117, 117, 117);
    height: 830px;
}
.m-topusertxt
{
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.m-messages
{
    overflow: auto;
    height: 650px;
}
.m-messageF
{
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: flex-start;
    width: auto;
    float: left;
}
.m-messageM
{
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: flex-start;
    float: right;
}
.m-avt
{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    object-fit: cover;
}
.m-avtM
{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    object-fit: cover;
}
.m-boxF
{
    width: 600px;
}
.m-tetex
{
    height: fit-content;
    position: relative;
    left: 20px;
    padding: 10px;
    background-color: rgb(185, 147, 247);
    text-align: justify;
    max-width: fit-content;
    border-radius: 5px;
}
.m-boxM
{
    width: 600px;
}
.m-tetex2
{
    height: fit-content;
    padding: 10px;
    background-color: rgb(135, 87, 187);
    max-width: 600px;
    text-align: justify;
    position: relative;
    right: 20px;
    border-radius: 5px;
}
.m-boxMS
{
    height: fit-content;
    max-width: 600px;
    text-align: justify;
    position: relative;
    right: 20px;
}
.sticker
{
    height: 170px;
    width: 170px;
}
.m-messagetxtbox
{
    background-color: rgb(41, 41, 41);
    height: 120px;
    border-radius: 10px;
}
.m-boxMSJ
{
    padding-left: 50px;
    padding-top: 15px;      
}
.m-input
{
    width: 700px;
    height: 90px;
    border-radius: 10px;
}
.m-btn
{
    background: none;
    color: white;
    border: none;
    font-size: 60px;
    padding-right: 15px;
}
.m-btnS
{
    text-align: center;
    color: white;
    background-color: #7f00d3;
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 7px;
}
.time{
    color: white;
}