.container
{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
}
.main
{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: auto;
    max-width: 700px;
}
article
{
    margin-bottom: 30px;
    position: relative;
}
.post_wraper
{
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .08);
}
.post
{
    padding: 0;
    position: relative;
    overflow: hidden;
}
figure
{
    margin-block-start: 0.2cm;
    margin-block-end: 0.5cm;
    margin-inline-start: 7px;
    margin-inline-end: 20px;
}
.photo .photo-wraper
{
    display: table;
    text-align: center;
    width: 100%;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.photo .photo-wraper-inner
{
    display: table-cell;
    padding: 40px 0;
    vertical-align: middle;
}
.img
{
    width: 685px;
    height: auto;
}
.caption
{
    border-top: 1px solid #efefef;
    margin: 0;
    padding: 20px;
}
.panel
{
    position: relative;
    height: auto;
    width: 100%;
    z-index: 1;
}
.post-footer
{
    flex-wrap: wrap;
    min-height: 50px;
    height: auto;
    position: relative;
    z-index: 2;
    width: 100%;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    padding-left: 500px;
    padding-right: 50px;
}
.post-control
{
    position: relative;
    border: 3px;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.avatar
{
    color: #fff;
    position: absolute;
    height: 100%;
    left: -115px;
}

.avatar .avatarimg
{
    width: 100px;
    height: 100px;
    border: 6px;
    border-radius: 15px;
    object-fit: cover;
}

.containerELI {
    width: 80%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.pe {
    text-align: center;
    font-size: 80px;
    color: white;
}

.rd {
    text-align: center;
    font-size: 50px;
    color: white;
}