
.containerIMGSHOW {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 38%;
  height: auto;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.container3 {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 250px;
}

.caption3 {
    border-top: 1px solid #efefef;
    margin: 0;
    padding: 20px;
    max-width: 300px;
}

.mainPOST {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: auto;
    max-width: 400px;
}

.col-752 {
    float: inline-end;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .containerPOST {
      margin-top: 150px;
      margin-right: 150px;
      width: 400px;
      height: 500px;
      background-color: white;
      border-radius: 15px;
  }

  .containerPOST2 {
    margin: 10px;
}

  .concon {
      margin: 15px;
  }

  .desc {
      width: 350px;
      height: 80px;
  }