
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: rgb(41, 41, 41);
    min-height: 100vh;
}
.head
{
    position: relative;
    height: 50px;
    overflow: hidden;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky
{
    padding: 20px 100px;
    background: rgb(0, 0, 0);
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    right: 1300px;
    text-decoration: none;
    columns: rgb(255, 0, 0);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a
{
    color: rgb(255, 255, 255);
}
.footerino 
{
    text-align: center;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.icon
{
    position: absolute;
    right: 50px;
    display: flex;
}
.i-img
{
    width: 60px;
    height: 60px;
}   
.i-imgg
{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}
.i-arrow
{
    color: white;
}
.search-box
{
    position: absolute;
    top: 50%;
    left: 84%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt
{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn
{
    background: white;
}
.search-btn
{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt
{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.postear
{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    width:80px;
    height: 80px;
    border-radius: 50%;
    left:94%;
    top: 80%;
    opacity: 0.05;
    z-index: 100001;
}
.postear:hover
{
    opacity: 1;
}
.home
{
    color: white;
    right: 820px;
    font-size: 25px;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
#dropmenu
{
    height: 250px;
    width: 250px;
    z-index: 10000000;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    border-width: 2px;
    position: absolute;
    right: 0;
    top: 70px;
    color: white;
    display: flex;
    
}
.ii-img
{
    width:60px;
    height: 60px;
    margin: 0 10px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    flex-grow: 1;
}
.ii-imgg
{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.i-user
{
    position: relative;
    width: 140px;
    /*left: 110px;
    top: 40px;
    height: 40px;*/
}

.i-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 10px;

}

.i-usertxt
{
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.i-arrtxt
{
    font-size: 16px;
    color: rgb(190, 190, 190);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hrr
{
    margin-left: 10px;
    margin-right: 10px;
}
.i-link
{
    padding-left: 30px;
    padding-top: 20px;
}
.i-conf
{
    font-size: 20px;
    color: white;
    text-decoration: none;
    max-width: 100%;
}
.i-li
{
    padding-bottom: 10px;
}

