.vote
{
    position: relative;
    z-index: 50;
    bottom: 790px;
    left: 1000px;
    display: flex;
    max-width: fit-content;
}
.upvote
{
    position: relative;
    color: rgb(11, 190, 11);
    font-size: 50px;
}
.upvoteN
{
    position: relative;
    width: 40px;
    height: 40px;
    bottom: 25px;
    background: transparent;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.downvote
{
    position: relative;
    bottom: 20px;
    left: 10px;
    color: rgb(192, 11, 11);
    font-size: 50px;
}
.downvoteN
{
    position: relative;
    width: 40px;
    height: 40px;
    bottom: 5px;
    background: transparent;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}